@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&display=swap');




body {
  background-color: #0f0d1a;
  font-family: "PT Sans Narrow", sans-serif;
}

.alert.alert-info {
  background-color: #f8f9fa;
  width: fit-content;
  margin: auto;
  padding-bottom: 0.1rem;
}

li button.nav-link.active {
  background-color: #343a40 !important;
  color: white !important;
}
li button.nav-link {
  color: white !important;
}

.active {
  border-bottom: 4px solid #fff;
}
.navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
   font-family: "Oswald", sans-serif;
}


.MuiButton-containedWarning{
  background-color: #00695C !important;
}
.MuiButton-containedWhite{
  background-color: #0f0d1a14 !important;
  color: #0f0d1a !important;
}


